table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr th {
    text-transform: capitalize;
    text-align: center;
}

tr th.up {
    background-color: var(--highgreen);
}

tr th.down {
    background-color: var(--highred);
}

tr:nth-child(even) {
    background-color: #dddddd;
}

::ng-deep .my-class .modal-dialog {
    max-width: 80%;
    width: fit-content;
}