<mat-card class="active">
    <mat-card-header style="display: flex;">
        <mat-card-title style="display: flex;text-transform: capitalize;">Device status per {{state}}
        </mat-card-title>
        <span style="display: flex;flex: 1;"></span>
        <span style="display: flex;">
            <button mat-raised-button (click)="open(content)"><mat-icon>info</mat-icon><span>View</span></button>
        </span>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
        <canvas id="horizonChart" style="height:250px"></canvas>

        <mat-button-toggle-group appearance="legacy">
            <mat-button-toggle value="Build" (click)="toBuild()" style="color: black;">Build</mat-button-toggle>
            <mat-button-toggle value="Node" (click)="toNode()" style="color: black;">Node</mat-button-toggle>
            <mat-button-toggle value="Location" (click)="toLocation()" style="color: black;">Location</mat-button-toggle>
        </mat-button-toggle-group>




    </mat-card-content>

</mat-card>



<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Detail</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">&times;</span>
                      </button>
    </div>

    <div class="modal-body">
        <ng-container *ngFor="let item of dataTable">
            <ng-container *ngIf="item['up'].length != 0 ||  item['down'].length != 0 ">
                <h3>{{state}} : "{{item['location']}}"</h3>
                <ng-container *ngIf="item['up'].length != 0">
                    <h4>UpList</h4>
                    <table>
                        <thead>
                            <tr>
                                <th class="up" *ngFor="let ihead of header">{{ihead}}</th>
                                <th class="up">Detail</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let ibody of item['up']">
                                <td *ngFor="let i of header">{{ibody[i]}}</td>
                                <td>
                                    <a [routerLink]="['/main/devicedetail', ibody.ip]" (click)="modal.dismiss('Cross click')">
                                        <mat-icon matListIcon>search</mat-icon> View</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </ng-container>
                <ng-container *ngIf="item['down'].length != 0">
                    <h4>DownList</h4>
                    <table>
                        <thead>
                            <tr>
                                <th class="down" *ngFor="let ihead of header">{{ihead}}</th>
                                <th class="down">Detail</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let ibody of item['down']">
                                <td *ngFor="let i of header">{{ibody[i]}}</td>
                                <td>
                                    <a [routerLink]="['/main/devicedetail', ibody.ip]" (click)="modal.dismiss('Cross click')">
                                        <mat-icon matListIcon>search</mat-icon> View</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </ng-container>
            </ng-container>
        </ng-container>





    </div>
    <div class="modal-footer">
        <button type="button" mat-flat-button class="dismiss pull-left" (click)="modal.dismiss('Cross click')">Close</button>
    </div>
</ng-template>