<div class="pageHeader">

    <mat-icon style="display:inline-block;">

        description</mat-icon>
    <h3 style="display:inline-block">Overview Report</h3>

    <mat-divider></mat-divider>
</div>
<div class="pageBody">

    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Option
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form #optionForm="ngForm">


                <mat-label><b>select : </b></mat-label>
                <mat-form-field>
                    <mat-select [(ngModel)]="select" name="node" required>
                        <mat-option *ngFor="let re of selectList" [value]="re">
                            {{re}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-label><b>active : </b></mat-label>
                <mat-form-field>
                    <mat-select [(ngModel)]="active" name="node" required>
                        <mat-option *ngFor="let re of activeList" [value]="re">
                            {{re}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <span style="display:flex; justify-content:flex-end; width:100%; padding:0;">
             <button mat-stroked-button class="confirm" type="submit"  (click)="sendFilter()"><mat-icon matListIcon>search</mat-icon>Search</button>
        
        </span>


            </form>
            <!-- {{rack}}{{node}}{{build}} -->
        </mat-card-content>
    </mat-card>


    <!-- --------------------------------------------------------report-------------------------------------------------------- -->
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Report
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <span style="display:flex; justify-content:flex-end; width:100%; padding:0;">
                                    <button  mat-stroked-button class="confirm" (click)="downloadPDF()"><mat-icon>archive</mat-icon>Export PDF</button>
                
                            </span>


            <div style="border: 1px solid black;background-color: white">
                <h1>Overview Report</h1>
                <p><b>กราฟแสดงจำนวนอุปกรณ์</b></p>
                <div class="row">
                    <div class="col">
                        <canvas id="varticalChart" style="height: 250px;background-color: white;"></canvas>
                    </div>
                    <div class="col">

                    </div>




                </div>


            </div>

        </mat-card-content>