<mat-card class="notactive">
    <mat-card-header>
        <mat-card-title>
            Notifycation Log
        </mat-card-title>

    </mat-card-header>

    <mat-divider></mat-divider>
    <table datatable class="row-border hover">
        <thead>
            <tr>
                <th>Time</th>
                <th>Addresss</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>10/8/60 20:12:59 AM</td>
                <td>192.168.1.1</td>
                <td>Up</td>
            </tr>
            <tr>
                <td>10/8/60 20:12:59 AM</td>
                <td>192.168.1.1</td>
                <td>Up</td>
            </tr>
            <tr>
                <td>10/8/60 20:12:59 AM</td>
                <td>192.168.1.1</td>
                <td>Up</td>
            </tr>
            <tr>
                <td>10/8/60 20:12:59 AM</td>
                <td>192.168.1.1</td>
                <td>Up</td>
            </tr>
            <tr>
                <td>10/8/60 20:12:59 AM</td>
                <td>192.168.1.1</td>
                <td>Up</td>
            </tr>
            <tr>
                <td>10/8/60 20:12:59 AM</td>
                <td>192.168.1.1</td>
                <td>Up</td>
            </tr>
            <tr>
                <td>10/8/60 20:12:59 AM</td>
                <td>192.168.1.1</td>
                <td>Up</td>
            </tr>
            <tr>
                <td>10/8/60 20:12:59 AM</td>
                <td>192.168.1.1</td>
                <td>Up</td>
            </tr>
            <tr>
                <td>10/8/60 20:12:59 AM</td>
                <td>192.168.1.1</td>
                <td>Up</td>
            </tr>
            <tr>
                <td>10/8/60 20:12:59 AM</td>
                <td>192.168.1.1</td>
                <td>Up</td>
            </tr>
            <tr>
                <td>10/8/60 20:12:59 AM</td>
                <td>192.168.1.1</td>
                <td>Up</td>
            </tr>
        </tbody>
    </table>
</mat-card>