<div class="pageHeader">

    <mat-icon style="display:inline-block;">

        settings_applications</mat-icon>
    <h3 style="display:inline-block">Managment</h3>
    <mat-divider></mat-divider>
</div>
<div class="pageBody">


    <div class="row" style="margin-bottom: 1%;">
        <div style="width: 100%;text-align: center;">
            <div style="float: right;">

                <app-add-user style="margin-right:20px"></app-add-user>

                <app-add-device style="margin-right:20px"></app-add-device>
            </div>
        </div>



    </div>
    <div class="row">
        <div class="col-sm-7">
            <app-all-device></app-all-device>
        </div>
        <div class="col-sm-5">
            <app-all-user></app-all-user>
        </div>
    </div>
</div>